.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blocks {
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 10px;
  width: 80%;
  border: 1px solid lightgray;
}

.blocks > h3 {
  border-bottom: 1px solid lightgray;
}

.submit-btn {
  display: inline-block;
}