.App {
  text-align: center;
}

.blocks {
  display: inline-block;
  margin-top: 1.5em;
  border-radius: 10px;
  width: 80%;
  border: 1px solid lightgray;
}

.blocks > h3 {
  border-bottom: 1px solid lightgray;
}

.block {
  text-align: left;
  margin: 0.5em 5%;
  color: black;
  border-bottom: solid lightgray 1px;
  display: block;
}

.submit-btn {
  display: inline-block;
}